export SOLACE_BROKER_URL=tcp://localhost:55554
export SOLACE_BROKER_USERNAME=default
export SOLACE_BROKER_PASSWORD=default
export SOLACE_BROKER_VPN=default
export OPENAI_API_KEY=<Inser_llmlite_key_here>
export OPENAI_API_ENDPOINT=<Inser_llmlite_endpoint_here>
export MODEL_NAME=claude-3-5-sonnet-v2
export OPENAI_EMBEDDING_MODEL_NAME=bedrock-cohere-embed-english-v3
export OPENAI_MODEL_NAME=claude-3-5-sonnet-v2