export SOLACE_BROKER_URL=tcp://localhost:55554
export SOLACE_BROKER_USERNAME=default
export SOLACE_BROKER_PASSWORD=default
export SOLACE_BROKER_VPN=default
export OPENAI_API_KEY=
export OPENAI_API_ENDPOINT=
export MODEL_NAME=
export OPENAI_EMBEDDING_MODEL_NAME=
export OPENAI_MODEL_NAME=